html {
  font-size: 62.5%; /* Ré-équilibrage du `rem` face au `px` pour des calculs simples */
}

body {
  font-family: "Segoe UI", sans-serif;
  background-color: #f3f5f5;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

h1,
h2,
h3 {
  color: #2e3333;
}

p {
  color: #868a8a;
}

@media (max-width: 1200px) {
  .container {
    width: 100%;
    padding: 0 2rem;
    box-sizing: border-box;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 50%;
  }
}
